html {
    font-family: 'Outfit', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.inicialBar {
    display: flex;
    align-items: center;
    height: 72px;
    padding-left: 64px;
    z-index: 999 !important;
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
}

.topBar {
    border-bottom: 1px solid rgba(249, 54, 27, 0.4);
}

.bottomBar {
    border-top: 1px solid rgba(249, 54, 27, 0.4);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 73px - 73px);
}

.card {
    padding: 32px 24px;
    background: white;
    box-shadow: 0px 7px 30px rgba(43, 37, 63, 0.25);
    border-radius: 2px;
}

.card h1 {
    font-weight: 500;
    font-size: 32px;
    color: #343A40;
    margin-bottom: 24px;
}

.input {
    margin-bottom: 16px;
}

.input label {
    font-weight: 500;
    font-size: 20px;
    color: #495057;
    margin-bottom: 4px;
    line-height: 125%;
}

.input input {
    outline: none;
    padding: 0 12px;
    border: 0.5px solid #7B7B7B;
    height: 32px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    width: 352px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.input input:focus {
    border: 1px solid black;
}

.input select {
    outline: none;
    padding-left: 12px;
    border: 0.5px solid #7B7B7B;
    height: 32px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    width: 352px;
    font-family: 'Outfit', sans-serif;
}

.input select:focus {
    border: 1px solid black;
}

#cmbBloodTypeSignUp {
    width: 64px;
}

#txtCEPSignUp {
    width: 276px;
}

#cmbUFSignUp {
    width: 64px;
}

#txtAddressSignUp {
    width: 276px;
}

#txtNumberSignUp {
    width: 64px;
}

.button {
    background: #8060F3;
    border-radius: 2px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cardButton {
    height: 40px;
    margin-bottom: 20px;
}

#btnLogin {
    margin-top: 112px;
}

.card p {
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    color: #343A40;
}

.card a {
    font-weight: 600;
    color: #F9361B;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.card .horizontal {
    justify-content: space-between;
    align-items: center;
}

.card .horizontal h1 {
    margin-bottom: 0;
}

.steps {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.steps .step {
    border-radius: 100px;
    margin-left: 6px;
    height: 12px;
    width: 12px;
    background-color: rgba(249, 54, 27, 0.6);
    transition: 0.25s;
}

.steps .currentStep {
    width: 24px;
    background-color: #F9361B;
}

#btnNextSignUpStep1 {
    margin-top: 32px;
}

#btnNextSignUpStep2 {
    margin-top: 26px;
    margin-bottom: 0;
}

#btnNextSignUpStep3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.6);
}

.dashboard {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 64px);
    width: 192px;
    background-color: white;
    border-right: 1px solid #E1E0E7;
    padding: 32px 24px;
}

.menu .horizontal {
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
}

.sandwich {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    cursor: pointer;
}

.sandwich div {
    height: 2px;
    width: 20px;
    background-color: #8060F3;
    border-radius: 16px;
}

.menuOption {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 24px;
    cursor: pointer;
    transition: 0.75s;
    border-radius: 8px;
    margin-top: 24px;
    margin-right: 24px;
}

.menuOption:hover {
    background-color: #F9361B18;
}

.menuOption p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7B7B7B;
    margin-left: 16px;
}

.menuOptionSelected {
    background-color: #F9361B;
}

.menuOptionSelected:hover {
    background-color: #F9361BE7;
}

.menuOptionSelected p {
    color: white;
    font-weight: 500;
}

.menuSeparatorLine {
    width: 100%;
    height: 1px;
    background-color: #E1E0E7;
    margin-top: 20px;
}

.section {
    width: 100%;
    height: calc(100vh - 64px - 64px);
    padding: 64px 32px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section::-webkit-scrollbar {
    display: none;
}

.section h1 {
    color: #343A40;
    font-weight: 500;
    font-size: 28px;
    line-height: 125%;
    margin-bottom: 32px;
}

.section h2 {
    color: #343A40;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 16px;
}

.profileViewer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 48px;
}

.profileViewer img {
    border-radius: 100%;
    height: 112px;
    width: 112px;
}

.profileViewer div {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.profileViewer div p {
    color: #7B7B7B;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    margin-top: -8px;
}

.sectionContent {
    display: flex;
    flex-direction: row;
}

.profileData {
    width: fit-content;
}

.profileData .input {
    margin-right: 32px;
}

.profileData .input input[type="tel"] {
    width: 276px;
}

.profileData .button {
    margin-left: 608px;
    align-self: flex-start;
    width: 128px;
}

.profileData .button img {
    margin-right: 8px;
}

#cmbBloodTypeProfile {
    width: 64px;
}

#txtCEPProfile {
    width: 276px;
}

#cmbUFProfile {
    width: 64px;
}

.minicard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 256px;
    background: #FFFFFF;
    box-shadow: 0px 7px 30px rgba(43, 37, 63, 0.2);
    border-radius: 4px;
    padding: 0 24px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.minicard p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #F9361B;
    text-align: center;
}

.minicard span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #F9361B;
}

.minicard h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #343A40;
    max-width: 192px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #495057;
    margin-bottom: 4px;
}

.historyCards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.sectionFAQ {
    padding-bottom: 64px;
}

.question {
    background: rgba(157, 157, 157, 0.15);
    padding: 24px 32px;
    border-radius: 8px;
    transition: 0.25s;
    margin-right: 64px;
    height: 100%;
    margin-bottom: 24px;
}

.question .horizontal {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question h3 {
    margin-bottom: 0;
}

.question img {
    transition: 0.25s;
    user-select: none;
}

.question p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #716F7A;
    transition: 0.25s;
    overflow-x: hidden;
    max-height: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.question p::-webkit-scrollbar {
    display: none;
}

.questionOpened {
    transition: 0.25s;
}

.questionOpened img {
    transform: rotate(180deg);
}

.questionOpened p {
    padding-top: 32px;
    max-height: 256px;
    transition: 0.25s;
}

.minicard img {
    height: 32px;
    width: 32px;
    margin-right: 24px;
    border-radius: 50%;
}


/* @media (max-height: 700px) {
    .inicialBar{
        height: 48px;
    }

    .container{
        height: calc(100vh - 49px - 49px);
    }

    .card h1{
        font-size: 24px;
    }

    .input{
        margin-bottom: 8px;
    }

    .input label{
        font-size: 16px;
    }

    .input input{
        font-size: 12px;
        width: 288px;
    }

    .button {
        font-size: 14px;
    }

    #btnLogin{
        margin-top: 104px;
    }

    .card p{
        font-size: 14px;
    }
} */