html {
    font-family: 'Outfit', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.inicialBar {
    display: flex;
    align-items: center;
    height: 72px;
    padding-left: 64px;
    z-index: 999 !important;
}

.title {
    font-weight: 500;
    font-size: 24px;
}

.topBar {
    border-bottom: 1px solid rgba(249, 54, 27, 0.4);
}

.bottomBar {
    border-top: 1px solid rgba(249, 54, 27, 0.4);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 73px - 73px);
}

.card {
    padding: 32px 24px;
    background: white;
    box-shadow: 0px 7px 30px rgba(43, 37, 63, 0.25);
    border-radius: 2px;
}

.card h1 {
    font-weight: 500;
    font-size: 32px;
    color: #343A40;
    margin-bottom: 24px;
}

.input {
    margin-bottom: 16px;
}

.input label {
    font-weight: 500;
    font-size: 20px;
    color: #495057;
    margin-bottom: 4px;
    line-height: 125%;
}

.input input {
    outline: none;
    padding: 0 12px;
    border: 0.5px solid #7B7B7B;
    height: 32px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    width: 352px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.input input:focus{
    border: 1px solid black;
}

.input select {
    outline: none;
    padding-left: 12px;
    border: 0.5px solid #7B7B7B;
    height: 32px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    width: 352px;
    font-family: 'Outfit', sans-serif;
}

.input select:focus{
    border: 1px solid black;
}

#cmbBloodTypeSignUp{
    width: 64px;
}

#txtCEPSignUp{
    width: 276px;
}

#cmbUFSignUp{
    width: 64px;
}

#txtAdressSignUp{
    width: 276px;
}

#txtNumberSignUp{
    width: 64px;
}

.button {
    background: #8060F3;
    border-radius: 2px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cardButton {
    height: 40px;
    margin-bottom: 20px;
}

#btnLogin {
    margin-top: 112px;
}

.card p {
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    color: #343A40;
}

.card a {
    font-weight: 600;
    color: #F9361B;
}

.card .horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#signUpStep3 .horizontal{
    align-items: stretch;
}

.card .horizontal h1{
    margin-bottom: 0;
}

.steps{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.steps .step{
    border-radius: 100px;
    margin-left: 6px;
    height: 12px;
    width: 12px;
    background-color: rgba(249, 54, 27, 0.6);
    transition: 0.25s;
    cursor: pointer;
}

.steps .currentStep{
    width: 24px;
    background-color: #F9361B;
}

#btnNextSignUpStep1{
    margin-top: 32px;
}

#btnNextSignUpStep2{
    margin-top: 26px;
    margin-bottom: 0;
}

#btnNextSignUpStep3{
    margin-top: 10px;
    margin-bottom: 0;
}

/* @media (max-height: 700px) {
    .inicialBar{
        height: 48px;
    }

    .container{
        height: calc(100vh - 49px - 49px);
    }

    .card h1{
        font-size: 24px;
    }

    .input{
        margin-bottom: 8px;
    }

    .input label{
        font-size: 16px;
    }

    .input input{
        font-size: 12px;
        width: 288px;
    }

    .button {
        font-size: 14px;
    }

    #btnLogin{
        margin-top: 104px;
    }

    .card p{
        font-size: 14px;
    }
} */